header{
    background-color: rgba(92, 18, 211, 0.534);
    display: flex;
    justify-content: space-between;
    padding: 10px 10vw;
    align-items: center;
    font-size: 20px;
}

header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 2px solid rgb(133, 10, 216);
    color: rgb(255, 255, 255);
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.logo-cabecalho{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
